<h1>Basket</h1>
<div>
	<div><a href="/#/home">home</a> -
 	<a href="/#/home/{{male}}">{{male}}</a> - 
 	<a ng-show="basketEmpty" href="/#/home/{{male}}/{{clothes}}">{{clothes}}</a>
</div>
<div>name name name</div>
<div ng-show="basketEmpty">
	<div ng-repeat="(key, item) in list track by $index">
		<div><img ng-src="http://dummyimage.com/{{item.photos[0]}}/a0ccdb/2e2e2e.jpg"></div>
		<div>
			<h3>{{item.name}}</h3>
			<span>{{item.artnum}}</span>
		</div>
		<div>{{color(item.color)}}</div>
		<div>{{item.sizeOrder}}</div>
		<div>
			<input ng-model="item.quantity" type="text">
			<button ng-click="quantity(true, key)">+</button>
			<button ng-click="quantity(false, key)">-</button>
		</div>
		<div>{{item.price}}</div>
		<a ng-click="delete(key)">Del</a>
	</div>
</div>
<div ng-hide="basketEmpty">
	<h1>Basket empty</h1>
</div>
Subtotal<div ng-show="basketEmpty">{{subtotal()}}</div>

<a href="/#/home/{{male}}/{{clothes}}">Continue Shoping</a>
<a ng-show="basketEmpty" ui-sref="ordersend">Order now</a>