<h1>Catalog</h1>
<a href="/#/catalog/coats"><h1>Coats</h1>
	<div ng-repeat="">
		<img src="http://dummyimage.com/600x400/a0ccdb/2e2e2e.jpg">
		<h4></h4>
		<p></p>
	</div>
</a>
<a href="/#/catalog/outerwear"><h1>outerwear</h1>
	<div ng-repeat="">
		<img src="http://dummyimage.com/600x400/a0ccdb/2e2e2e.jpg">
		<h4></h4>
		<p></p>
	</div>
</a>

<a href="/#/catalog/tshirt"><h1>T-Shirts</h1>
	<div ng-repeat="">
		<img src="http://dummyimage.com/600x400/a0ccdb/2e2e2e.jpg">
		<h4></h4>
		<p></p>
	</div>
</a>


