<div><a href="/#/home">home</a> -  <a href="/#/{{male}}">{{male}}</a></div>

	<a href="/#/home/{{male}}/coats"><h1>Coats</h1></a>
	<a href="/#/home/{{male}}/coats/{{item.index}}" ng-repeat="item in viewCoats">
		<img ng-src="http://dummyimage.com/{{item.photos[0]}}/a0ccdb/2e2e2e.jpg">
		<h4>{{item.name}}</h4>
		<p>{{item.price}}</p>
	</a>

	<a href="/#/home/{{male}}/outerwear"><h1>outerwear</h1></a>
	<a href="/#/home/{{male}}/outerwear/{{item.index}}" ng-repeat="item in viewOuterwear">
		<img ng-src="http://dummyimage.com/{{item.photos[0]}}/a0ccdb/2e2e2e.jpg">
		<h4>{{item.name}}</h4>
		<p>{{item.price}}</p>
	</a>


	<a href="/#/home/{{male}}/tshirt"><h1>T-Shirts</h1></a>
	<a href="/#/home/{{male}}/tshirt/{{item.index}}" ng-repeat="item in viewTshirt">
		<img ng-src="http://dummyimage.com/{{item.photos[0]}}/a0ccdb/2e2e2e.jpg">
		<h4>{{item.name}}</h4>
		<p>{{item.price}}</p>
	</a>