<h1>data about {{things.name}}</h1>
<div><a href="/#/home">home</a> -
 <a href="/#/home/{{male}}">{{male}}</a> - 
 <a href="/#/home/{{male}}/{{clothes}}">{{clothes}}</a>
 <a>{{things.name}}</a>
 </div>
<div>
	<img ng-src="http://dummyimage.com/{{things.photos[0]}}/a0ccdb/2e2e2e.jpg">
	<div>
		<img ng-repeat="item in things.photos" ng-src="http://dummyimage.com/{{item}}/a0ccdb/2e2e2e.jpg">
	</div>
</div>
Name<h2>{{things.name}}</h2>
Article<span>{{things.artnum}}</span>
Price<span>{{things.price}}</span>
Description<p>{{things.desc}}</p>
<div>
	<p>size</p>
	<div ng-repeat="item in things.size">{{item}}</div>
</div>
<a ng-click="buy()">Buy</a>