<div class="main">
	<h1 class="main_title">Hazy Shade of Spring</h1>
	<h2 class="main_slog subHeader">Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo.</h2>
	<a class="main_link linkBig linkWhH" href="#">check new arrivals</a>
	<div class="main_wraperImg">
		<div class="main_wraperImg_img">
			<div class="main_wraperImg_img_text"></div>
			<img src="img/imgTitle_1.jpg">
		</div>
		<div class="main_wraperImg_img">
			<div class="main_wraperImg_img_mask">
				<img src="img/twImgHow.png">
				<span>Opening Ceremony @IndonesiaFW tomorrow, PMers! Are you ready for the biggest fashion movement in </span>
				<span>@PuspitaMarthaID </span>
			</div>
			<div class="main_wraperImg_img_text">
				<p>elegant shoes</p>
				<span>BRAIDED LEATHER</span>
			</div>
			<img src="img/imgTitle_2.jpg">
		</div>
		<div class="main_wraperImg_img">
			<div class="main_wraperImg_img_text"></div>
			<img src="img/imgTitle_3.jpg">
		</div>
		<div class="main_wraperImg_img">
			<div class="main_wraperImg_img_mask">
				<img src="img/twImgHow.png">
				<span>Opening Ceremony @IndonesiaFW tomorrow, PMers! Are you ready for the biggest fashion movement in </span>
				<span>@PuspitaMarthaID </span>
			</div>
			<div class="main_wraperImg_img_text">
				<p>elegant shoes</p>
				<span>BRAIDED LEATHER</span>
			</div>
			<img src="img/imgTitle_4.jpg">
		</div>
		</div>
	<div class="main_wraperImg">
		<div class="main_wraperImg_img">
			<div class="main_wraperImg_img_mask">
				<img src="img/twImgHow.png">
				<span>Opening Ceremony @IndonesiaFW tomorrow, PMers! Are you ready for the biggest fashion movement in </span>
				<span>@PuspitaMarthaID </span>
			</div>
			<div class="main_wraperImg_img_text">
				<p>elegant shoes</p>
				<span>BRAIDED LEATHER</span>
			</div>
			<img src="img/imgTitle_5.jpg">
		</div>
		<div class="main_wraperImg_img">
			<div class="main_wraperImg_img_text"></div>
			<img src="img/imgTitle_6.jpg">
		</div>
		<div class="main_wraperImg_img">
			<div class="main_wraperImg_img_mask">
				<img src="img/twImgHow.png">
				<span>Opening Ceremony @IndonesiaFW tomorrow, PMers! Are you ready for the biggest fashion movement in </span>
				<span>@PuspitaMarthaID </span>
			</div>
			<div class="main_wraperImg_img_text">
				<p>elegant shoes</p>
				<span>BRAIDED LEATHER</span>
			</div>
			<img src="img/imgTitle_7.jpg">
		</div>
		<div class="main_wraperImg_img">
			<div class="main_wraperImg_img_text"></div>
			<img src="img/imgTitle_8.jpg">
		</div>
	</div>
<h2 class="main_head2">sign up to receive our updates</h2>
<h4 class="main_slog subHeader">Nulla ipsum dolor lacus, suscipit adipiscing. Cum sociis natoque penatibus et ultrices volutpat.</h4>

<form class="main_form" name="formEmail">
	 <input class="main_form_input" placeholder="Your e-mail" type="text" ng-model="emailOr" name="input" ng-pattern="emailReg" />
	  <a class="main_form_add orangeL" ng-click="emailSend()">add</a>
</form>
<div class="main_wrMessahe">
	 <div class="main_wrMessahe_thankEm" ng-if="emailSended">Thanks You</div>
	  <div class="main_wrMessahe_wrongEm" ng-if="emailWrong">Wrong email</div>
</div>
 </div>