<div class="main">
	<h1 class="main_title">Hazy Shade of Spring</h1>
	<h2 class="main_slog subHeader">Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo.</h2>
	<a class="main_link linkBig linkWhH" href="#">check new arrivals</a>
	<div class="main_wraperImg">
		<div class="main_wraperImg_col1">
			<div class="main_wraperImg_img">
				<div class="main_wraperImg_img_text"></div>
				<img src="img/imgTitle_1.jpg" height="294" width="294">
			</div>
			<div class="main_wraperImg_img">
				<div class="main_wraperImg_img_mask">
					<img src="img/twImgHow.png" height="23" width="93">
					<span>Opening Ceremony @IndonesiaFW tomorrow, PMers! Are you ready for the biggest fashion movement in </span>
					<span>@PuspitaMarthaID </span>
				</div>
				<div class="main_wraperImg_img_text">
					<p>elegant shoes</p>
					<span>BRAIDED LEATHER</span>
				</div>
				<img src="img/imgTitle_5.jpg" height="294" width="294">
			</div>
		</div>
		<div class="main_wraperImg_col2">
			<div class="main_wraperImg_img">
				<div class="main_wraperImg_img_text">
					<p>elegant shoes</p>
					<span>BRAIDED LEATHER</span>
				</div>
				<img src="img/imgTitle_2.jpg" height="294" width="294">
			</div>
			<div class="main_wraperImg_img">
				<div class="main_wraperImg_img_text"></div>
				<img src="img/imgTitle_6.jpg" height="294" width="294">
			</div>
		</div>
		<div class="main_wraperImg_col3">
			<div class="main_wraperImg_img">
				<div class="main_wraperImg_img_text"></div>
				<img src="img/imgTitle_3.jpg" height="294" width="294">
			</div>
			<div class="main_wraperImg_img">
				<div class="main_wraperImg_img_mask"></div>
				<div class="main_wraperImg_img_text">
					<p>elegant shoes</p>
					<span>BRAIDED LEATHER</span>
				</div>
				<img src="img/imgTitle_7.jpg" height="294" width="294">
			</div>
		</div>
		<div class="main_wraperImg_col4">
			<div class="main_wraperImg_img">
				<div class="main_wraperImg_img_mask"></div>
				<div class="main_wraperImg_img_text">
					<p>elegant shoes</p>
					<span>BRAIDED LEATHER</span>
				</div>
				<img src="img/imgTitle_4.jpg" height="294" width="294">
			</div>
			<div class="main_wraperImg_img">
				<div class="main_wraperImg_img_text"></div>
				<img src="img/imgTitle_8.jpg" height="294" width="294">
			</div>
		</div>
	</div>



<form name="formEmail">
	 <input type="text" ng-model="emailOr" name="input" ng-pattern="emailReg" /><br>
</form>
<div ng-if="emailSended">Thanks You</div>
<div ng-if="emailWrong">Wrong email</div>

  <button ng-click="emailSend()">Send</button>
 </div>