@import 'normalize.css';
@import 'header.css';
@import 'home.css';
@import 'footer.css';

* {
	margin: 0px;
	padding: 0px;
}
a {
	overflow: hidden;
	display: block;
	text-decoration: none;
	cursor: pointer;
}
li {
	
}
.active-link {
	color: red;
}
img {
	max-width: 300px;
}
.activeSearch {
	
}
.seacrhToggle {
	border: 1px solid red;
	overflow: scroll;
	height: 400px;
	width: 350px;
}