.basket {
	max-width: 94.91%;
	margin: 0 auto;
	margin-bottom: 52px;
	border-bottom: 1px solid #e5e5e5;
}
.basket_title {
	margin-top: 68px;
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
	letter-spacing: 2.4px;
	line-height: 0px;
}
h2.basket_title_subHead {
	margin-bottom: 86px;
	text-align: center;
	line-height: 20px;
	color: #606060;
}
.basket_header {
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	display: flex;
}
.basket_header_wrap {
	display: flex;
	justify-content: space-between;
	flex-shrink: 0;
	flex-direction: row;
	flex-wrap: nowrap;
	letter-spacing: 0.5px;
}
.basket_header_wrap:first-child {
	flex-basis: 207px;
	padding-left: 11px;
}
.basket_header_wrap:last-child {
	flex-basis: 499px;
	padding-right: 27px;
}
.basket_header_wrap_col {
	flex-shrink: 0;
	color: #909090;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 40px;
	flex-basis: 50px;
	text-align: center;
}
.basket_header_wrap_col:nth-child(1) {

}
.basket_header_wrap_col:nth-child(2) {
	margin-left: 50px;
	
}
.basket_header_wrap_col:nth-child(3) {
	margin-left: 3px;
	
}
.basket_header_wrap_col:nth-child(4) {
	
}
.dataAb_centerImg_minCont_wrap_img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0; 
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}
.basket_table {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: nowrap;
}
.basket_table_thing {
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-shrink: 0;
	border-bottom: 1px solid #e5e5e5;
	padding-top: 17px;
	padding-bottom: 17px;
	padding-right: 40px;
	box-sizing: border-box;
}
.basket_table_thing_wrap {
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-shrink: 0;
	display: flex;
}
.basket_table_thing_wrap:last-child {
	flex-basis: 484px;
}
.basket_table_thing_wrap:last-child div {
	flex-shrink: 0;
}
.basket_table_thing_centerImg {
	height: 98px;
	width: 98px;
	position: relative;
	border: 1px solid #e5e5e5;
	overflow: hidden;
	background: #f7f7f7;
}
.basket_table_thing_centerImg img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0; 
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}
.basket_table_thing_name {
	margin-left: 24px;
}
.basket_table_thing_name span {
	font-size: 12px;
	color: #606060;
	 font-family: 'latoItalic';
}

.basket_table_thing_name a {
	text-transform: uppercase;
	font-family: 'latoBold';
	margin-top: 37px;
	line-height: 16px;
}
div.basket_table_thing_color {
	line-height: 100px;
	margin-right: 0;
	text-transform: capitalize;
	flex-basis: 100px;
	text-align: left;
}
.basket_table_thing_size {
	line-height: 100px;
	font-size: 16px;
	text-transform: uppercase;
	flex-basis: 30px;
	margin-left: 7px;
	text-align: center;
}
div.basket_table_thing_qtyWrap {
	position: relative;
	height: 25px;
	flex-basis: 52px;
	text-align: center;
	top: 0;
	bottom: 0;
	margin: auto 0;
	margin-left: 5px;;

}
.basket_table_thing_qtyWrap_input {
	height: 27px;
	width: 20px;
	color: #303030;
	text-align: center;
	position: relative;
	border: none;
}
.basket_table_thing_qtyWrap_but {
	position: absolute;
	right: 0;
	height: 10px;
	width: 14px;
	text-align: center;
	font-size: 15px;
	line-height: 12px;
	background: #f1f1f1;
	cursor: pointer;
}
.basket_table_thing_qtyWrap_but:hover {
	background: #f68236;
}
.basket_table_thing_qtyWrap_but:nth-child(2) {
	top: 3px;
}
.basket_table_thing_qtyWrap_but:last-child {
	bottom: 3px;	
}
.basket_table_thing_price {
	line-height: 100px;
	flex-basis: 65px;
	text-align: center;

}
.basket_table_thing_del {
	font-size: 30px;
	height: 25px;
	line-height: 30px;
	width: 25px;
	text-align: center;
	margin-top: 37px;
	flex-basis: 28px;
	transform: rotate(45deg);
}
.basket_table_thing_del:hover {
	color: #e67429;
	cursor: pointer;
}
.basket_table_subtotalWrap {
	background: #f7f7f7;
	margin-bottom: 78px;
	overflow: hidden;
	padding: 23px;
	padding-right: 133px;
	display: flex;
	justify-content: flex-end;
}
.basket_table_subtotalWrap_text {
	font-family: 'latoBold';
	margin-right: 52px;
}
.basket_table_subtotalWrap_data {
	font-family: 'latoBold';
	color: #f68236;
}
.basket_linkWrap {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 42px;
}

.basket_linkWrap_continueShop {
	line-height: 56px;
	text-decoration: underline;
	margin-right: 82px;
}
.basket_linkWrap_orderSend {
	height: 56px;
	line-height: 59px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	background: #f68236;
	width: 199px;
	margin-right: 3px;
	letter-spacing: 1.4px;
}
.basket_linkWrap_orderSend:hover {
	transition: 0.3s linear all;
	text-decoration: none;
	background: #e67429;
}
.basket_linkWrap_orderSend:active {
	transition: 0.1s linear all;
	background: #259225;
}
.basket_table_thing_colorMin, .basket_table_thing_sizeMIn, .basket_table_thing_qtyWrapMin{
	display: none;
}
@media only screen and (min-device-width: 0px) and (max-device-width:1045px), (min-width: 0px) and (max-width: 1045px) {
	.header_rightCol_search_cont {
		margin-right: 28px;
	}
	.basket_header_wrap:last-child {
	padding-right: 0px;
	margin-right: 20px;
	flex-basis: 440px;
	}
	.basket_header_wrap_col:nth-child(2) {
		margin-left: 31px;
	}
	.basket_header_wrap_col:nth-child(3) {
	margin-left: -3px;
	}
	.basket_table_thing_centerImg {
	}
	.basket_table_thing_name {
		margin-left: 21px;
	}
	.basket_table_thing_wrap:last-child {
		flex-basis: 419px;
	}
	.basket_table_thing_size {
		margin-left: 0;
		flex-basis: 29px;
	}
	div.basket_table_thing_qtyWrap {
	margin-left: 0px;
	}
	.basket_table_thing_price {
	flex-basis: 78px;
	}
	div.basket_table_thing_color {
		flex-basis: 92px;
	}
	.basket_table_subtotalWrap {
		padding-right: 117px;
	}
	.basket_table_subtotalWrap_text {
	margin-right: 44px;
	}
	.basket_linkWrap_orderSend {
		margin-right: 0px;
		width: 203px;
	}
	.basket_linkWrap_continueShop {
		margin-right: 84px;
	}
	.basket_table_thing_del {
		    flex-basis: 13px;
		    line-height: 25px;
		    margin-top: 39px;
	}
}
@media only screen and (min-device-width: 0px) and (max-device-width: 840px), (min-width: 0px) and (max-width: 840px) { 
	.basket_header {
		display: none;
	}
	.basket_table  {
		width: 83%;
		margin: 0 auto;
	}
	div.basket_table_thing_color, .basket_table_thing_size, div.basket_table_thing_qtyWrap {
		display: none;
	}
	h2.basket_title_subHead {
		margin-bottom: 55px;
	}
	.basket_table_thing:first-child {
		border-top: 1px solid #e5e5e5;
	}
	.basket_table_thing_name h3 {
		margin-top: 2px;
		line-height: 18px;
	}
	.basket_table_thing {
		padding-right: 31px;
		padding: 0;
		padding-top: 15px;;
	}
	.basket_table_thing_wrap:last-child {
		flex-basis: 200px;
		flex-direction: column-reverse;
		height: 144px;
	}
	.basket_table_thing_del {
		align-self: flex-end;
		margin: 0;
		margin-top: -4px;
		margin-right: 17px;
	}
	.basket_table_thing_price {
		align-self: flex-end;
		flex-basis: 20px;
		line-height: 20px;
		margin-right: 13px;
		margin-bottom: 19px;
	}
	.basket_table_thing_colorMin, .basket_table_thing_sizeMIn, .basket_table_thing_qtyWrapMin{
		display: block;
	}
	.basket_table_thing_qtyWrapMin {
		position: relative;
		width: 35px;
    	height: 25px;
   	 	text-align: left;
    	top: 0;
    	bottom: 0;
    	margin: auto 0;
    	margin-left: 5px;
	}
	.basket_table_thing_colorMin {
		margin-top: 2px;
		margin-bottom: 4px;
	}
	.basket_table_thing_sizeMIn {
		margin-bottom: 3px;
		text-transform: uppercase;
	}
	.basket_table_subtotalWrap {
		padding-right: 24px;
		width: 83%;
		margin: 0 auto;
		box-sizing: border-box;
		padding-top: 16px;
	}
	.basket_table_subtotalWrap_text {
		margin-right: 3px;
	}
	.basket_linkWrap_orderSend {
		margin: 0 auto;
		font-size: 20px;
		height: 61px;
		line-height: 67px;
		letter-spacing: 0;
		margin-top: 29px;
	}
	.basket_linkWrap {
		width: 83%;
		margin: 0 auto;
		margin-top: 28px;
		flex-direction: column-reverse;
		text-align: center;;
	}
	.basket_linkWrap_continueShop {
		margin-top: 4px;
		margin-right: 0;
		margin-bottom: 78px;
	}
}
h1.basket_table_empty {
	text-align: center;;
	line-height: 150px;
}
@media only screen and (min-device-width: 0px) and (max-device-width: 640px), (min-width: 0px) and (max-width: 640px) { 
	.basket_title {
		font-size: 25px;
		margin-top: 59px;
	}
	.basket_table {
		width: 97%;
	}
	.basket_table_thing_wrap:last-child {
		flex-basis: 50px;
		margin-top: 1px;
	}
	.basket_table_subtotalWrap_text {

	}
	.basket_table_subtotalWrap {
		width: 97%;
		padding-right: 23px;
		padding-top: 14px;
	}
	.basket_linkWrap {
		width: 97%;
	}
	.basket_linkWrap_orderSend {
	width: 100%;
	}
	.basket_linkWrap_continueShop {
		margin-bottom: 78px;
	}
}