.header {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid #a3a3a3;
	max-width: 94.91%;
	margin: 0 auto;
	padding-bottom: 37px;

}
.header a {
	color: #303030;
}
.header_leftCol {
	margin-top: 31px;
	flex-shrink: 0;
	display: flex;
	flex-wrap: nowrap;
}
.header_leftCol_logo {
	overflow: hidden;
	width: 39px;
	height: 42px;
	background: black;
}
.header_leftCol_logo h1 {
	line-height: 26px;
	color: white;
	font-size: 12px;
	text-align: center;
}
.header_leftCol_menu {
	margin-left: 58px;
	width: 357px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
}
.header_leftCol_menu a {
	padding: 13px 0;
 	display: block;
}
.header_rightCol {
	display: flex;;
	margin-top: 36px;
	margin-right: 0px;
	position: relative;;
}
.header_rightCol_search_cont {
	cursor: pointer;
	width: 40px;
	height: 39px;
	position: relative;
	border: 1px solid #a3a3a3;
	overflow: hidden;
	transition: 0.2s linear all;
	box-sizing: border-box;
	margin-right: 25px;
}
.header_rightCol_search_cont:hover {
	background: #606060;
}
.sprite-searchH {
	position: absolute;
	opacity: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	transition: 0.5s linear all;
}
.header_rightCol_search_cont:hover .sprite-searchH {
	opacity: 1;
}
.header_rightCol_search_cont:hover .sprite-search {
	opacity: 0;
}
.sprite-search {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.header_rightCol_search {
	width: 152px;
	height: 39px;
	box-sizing: border-box;
	border: 1px solid #a3a3a3;
	border-right: none;
	font-family: 'latoItalic';
	padding-top: 2px;
	padding-left: 14px;
	font-size: 12px;
	}
.header_rightCol_basket {
	font-size: 13px;
	margin-top: 10px;
	letter-spacing: 0.4px;
	margin-right: 38px;
}
.sprite-basket {
	margin-top: 1px;
	margin-right: 8px;
	float: left;
	transform: scale(1.1);
}
.header_menuCont {
	display: none;
}
.header_rightCol_searchRes {
	padding: 0 10px;
	position: fixed;
	max-width: 350px;
	top: 102px;
	left: 0;
	right: 0;
	margin: 0 auto;
	overflow: scroll;;
	height: 500px;
	background: white;
	z-index: 99;
}
.header_rightCol_searchRes_link {
	display: block;
	overflow: hidden;
	margin-bottom: 10px;
	text-decoration: none;
}
.header_rightCol_searchRes_link:hover { 
	background: #e5e5e5;
	text-decoration: none;
}
.header_rightCol_searchRes img{
	float: left;
	height: 80px;
	margin-right: 20px;
}
.header_rightCol_searchRes h4 {
	margin-top: 15px;
	margin-bottom: 20px;
}
.contMin {
	display: none;
}
@media only screen and (min-device-width: 0px) and (max-device-width:1045px), (min-width: 0px) and (max-width: 1045px) {
	.header_rightCol_search_cont {
		margin-right: 28px;
	}
}
@media only screen and (min-device-width: 0px) and (max-device-width:880px), (min-width: 0px) and (max-width: 880px) {
	.header_leftCol_menu {
		width: 224px;
	}
}
@media only screen and (min-device-width: 0px) and (max-device-width:790px), (min-width: 0px) and (max-width: 790px) {
	.header {
	padding-bottom: 20px;
	}
	.header_leftCol_menu {
		display: none;
	}
	.header_leftCol_logo {
		width: 60px;
		height: 57px;
	}
	.header_leftCol_logo h1 {
		font-size: 18px;
		line-height: 38px;
	}
	.header_leftCol {
		margin-top: 20px;
	}
	.header_rightCol {
	margin-top: 31px;
	}
	.header_rightCol_basket {
		margin-top: 10px;
		margin-right: 0px;
		font-size: 19px;
		letter-spacing: 0px;
	}
	.sprite-basket {
		margin-top: 2px;
		transform: scale(1.45);
	}
	div.header_rightCol_search_cont {
		margin-right: 18px;
	}
	.header_rightCol_search {
		width: 147px;
	}
	.header_menuCont {
		padding: 20px 0;
		display: block;
		max-width: 95.21%;
		margin: 0 auto;
		border-bottom: 1px solid #a3a3a3;
	}
	.header_menuCont a {
		color: #303030;
		text-align: center;
		font-size: 20px;
		margin-bottom: 41px;
	}
	.header_menuCont a:last-child {
		margin-bottom: 0;
	}
}
@media only screen and (min-device-width: 0px) and (max-device-width: 440px), (min-width: 0px) and (max-width: 440px) {
	.header {
		max-width: 91.6%;
		
	}
	.header_rightCol {
		margin-top: 30px;
		position: static;
	}
	.header_rightCol_search {
		display: none;
		position: absolute;
		top: 91px;
		left: 16px;
		width: 84%;
	}
	/*При клике когда ширина меньше 440px */
	.headerMin {
		padding-bottom: 80px;
	}
	.header_rightCol_search_contMin {
		position: absolute;
		top: 91px;
		right: 0px;
	}
	.header_rightCol_searchMin {
		display: block;
	}
	/*При повторном клике удалить*/
	.header_rightCol_basket {
		margin-right: 8px;
		letter-spacing: -0.5px;
	}
	

	.sprite-basket {
		margin-right: 10px;
		transform: scale(1.4);
	}
}