.main {
	max-width: 94.91%;
	margin: 0 auto;
	margin-bottom: 75px;
}
.main_title {
	text-align: center;
	margin-top: 145px;
	line-height: 69px;
	text-transform: uppercase;
	margin-bottom: 29px;
	letter-spacing: 0.6px;
}
.main_slog {
	letter-spacing: -0.6px;
	text-align: center;
}
.main_link {
	margin: 0 auto;
	margin-top: 66px;
	line-height: 59px;
	box-sizing: border-box;
	margin-bottom: 134px;
	text-align: center;
	letter-spacing: -0.6px;
}
.main_wraperImg span, p {
	color: white;
}
.main_wraperImg {
	width: 100%;
	box-sizing: border-box;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	align-content: flex-start;
	
}
.main_wraperImg_img {
	cursor: pointer;
	flex-shrink: 2;
	overflow: hidden;
	position: relative;
	flex-basis: 294px;
}
.main_wraperImg_img img{
	width: 100%;
	margin-bottom: -6px;
} 
.main_wraperImg_img_mask {
	transition: 0.4s linear all;
	width: 100%;
	height: 100%;
	background: #a3a3a3;
	opacity: 0;
	position: absolute;
	top: 0;
	left: -200px;
	z-index: 9;
	text-align: center;
}
.main_wraperImg_img_mask img {
	margin: 50px auto;
	margin-bottom: 25px;
	display: block;
	width: 92px;
	height: 25px;
}
.main_wraperImg_img_mask span {
	display: block;
	width: 185px;
	margin: 0 auto;
	font-size: 12px;
	line-height: 17px;
	font-family: 'Georgia';
	font-style: italic;
}
.main_wraperImg_img_mask span:last-child {
	margin-top: 20px;
	font-size: 14px;
	font-family: 'latoBold'; 
	font-style: normal;
}
.main_wraperImg_img:hover .main_wraperImg_img_mask {
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
}
.main_wraperImg_img_text {
	z-index: 8;
	position: absolute;
	top: 35%;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center
}
.main_wraperImg_img_text p {
	text-transform: uppercase;
	font-size: 34px;
	font-family: 'latoBold';
	width: 182px;
	line-height: 35px;
	margin: 0 auto;
	margin-bottom: 6px;
	letter-spacing: 2px;
}
.main_wraperImg_img_text span {
	font-family: 'Georgia';
	font-size: 16px;
	letter-spacing: 3.5px;
	font-style: italic;
}
.main_head2 {
	margin-top: 85px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 12px;
	letter-spacing: 2.6px;
}
h4.main_slog {
	text-align: center;
	margin-bottom: 55px;
	font-size: 16px;
	letter-spacing: 0.6px;
}
.main_form {
	display: block;
	max-width: 573px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.main_form_input {
	padding: 20px 10px;
	border: 1px solid #a3a3a3;
	font-family: 'latoItalic';
	box-sizing: border-box;
	width: 490px;
	float: left; 
}
.main_form_add {
	font-size: 14px;
	text-align: center;
	right: 3px;
	margin-bottom: 80px;
	float: right;
	color: white;
	padding: 20.5px 36px;
	z-index: 7;
	position: absolute;
	height: 57px;
}
.main_form_add:hover {
	text-decoration: none;
	background: #e67429;
}
.main_wrMessahe {
	position: relative;
}
.main_wrMessahe_thankEm {
	position: absolute;
	top: 25px;
	left: 0;
	right: 0;
	text-align: center;
	font-family: 'latoBold';
	font-size: 22px;
	text-transform: uppercase;
}
.main_wrMessahe_wrongEm {
	left: 0;
	right: 0;
	position: absolute;
	color: #ed1c24;
	text-align: center;
	font-size: 12px;
	font-family: 'latoItalic';
	top: 25px;
}
@media only screen and (min-device-width: 0px) and (max-device-width:1045px), (min-width: 0px) and (max-width: 1045px) {
	.main_wraperImg_img_text{
		top: 28%;
	}
	.main_title {
		letter-spacing: 1px;
	}
	.main_wraperImg_img_text p{
		margin-bottom: 3px;
	}
	.main_wraperImg_img_text span {
		display: block;
		width: 150px;
		margin: 0 auto;
		letter-spacing: 2.5px;
		line-height: 18px;
	}
	.main_wraperImg_img_mask img {
		margin-top: 40px;
	}
	.main_head2 {
		margin-top: 80px;
		letter-spacing: 3px;
	}
}
@media only screen and (min-device-width: 0px) and (max-device-width:880px), (min-width: 0px) and (max-width: 880px) {
	.main_wraperImg_img_mask img {
		margin-top: 20px;
		width: 50px;
		height: 15px;
	}
	.main_wraperImg_img_mask span{
		font-size: 9px;
	}
}
@media only screen and (min-device-width: 0px) and (max-device-width:790px), (min-width: 0px) and (max-width: 790px) {
	.main_title {
		margin-top: 43px;
		line-height: 79px;
		margin-bottom: 23px;
	}
	.subHeader {
	margin-bottom: 48px;
	}
	.main_link {
		display: none;
	}
	.main_wraperImg {
		margin-top: 50px;
		flex-direction: column;
		max-width: 502px;
	}
	.main_wraperImg {
		margin-top: 0px;
	}
	.main_wraperImg_img:nth-child(1) {
		flex-basis: 231px;
	}
	.main_wraperImg_img:nth-child(2) {
		flex-basis: 198px;
	}
	.main_wraperImg_img:nth-child(3) {
		flex-basis: 151px;
	}
	.main_wraperImg_img:nth-child(4) {
		flex-basis: 276px;
	}
	.main_wraperImgLast .main_wraperImg_img:nth-child(1) {
		flex-basis: 277px;
	}
	.main_wraperImgLast .main_wraperImg_img:nth-child(2) {
		flex-basis: 232px;
	}
	.main_wraperImgLast .main_wraperImg_img:nth-child(3) {
		flex-basis: 198px;
	}
	.main_wraperImgLast .main_wraperImg_img:nth-child(4) {
		flex-basis: 275px;
	}
	.main_wraperImg_img_text {
		 position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    height: 30%;
	    margin: auto;
	}
	.main_wraperImg_img_text p{
		width: 100%;
		font-size: 23px;
	}
	.main_wraperImg_img_text span{
		width: 100%;
		font-size: 20px;
		margin-top: 5px;
	}
	.main_head2 {
		margin-top: 83px;
		letter-spacing: 2.6px;
	}
	.main_wraperImg_img_mask img{
		margin-top: 5%;
	}
	.main_form_input {
	width: 90%;
	}
	.main_form_add {
		font-size: 17px;
		padding: 20.5px 34px;
	}

}
@media only screen and (min-device-width: 0px) and (max-device-width: 440px), (min-width: 0px) and (max-width: 440px) {
	.main_wraperImg {
		width: 95%;
	}
	.main_head2 {
		margin-top: 83px;
		font-size: 24px;
		margin-bottom: 11px;
	}
	h4.main_slog  {
		padding: 0 10px;
		line-height: 22px;
	}
	.main_form {
		padding: 0 9px;
	}
	.main_form_input {
		font-size: 20px;
		padding: 17px 10px;
		width: 290px;
	}
	.main_form_add {
		font-size: 20px;
		padding: 20.5px 31px;
		margin-right: 10px;
	}
}